.map_tools {
  background-color: #36454F;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  height: 35px;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.tool .visibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tool_title {
  color: whitesmoke;
  margin-right: 10px;
}

.map_tools .tool img {
  height: 30px;
  width: 30px;
}