* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.loading_screen {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
}
