:root {
  --main-color: rgba(105, 163, 255, 0.901);
  --warning-color: rgb(186, 68, 68);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.loading_screen {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
}
