.social_post_preview_container {
    height: 95px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
    color: white;
    background-color: var(--container-color);
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .social_post_preview_container:hover {
    transform: scale(1.05);
} */

.social_post_preview_img {
    width: 10%;
    height: 10%;
}

.social_post_preview_container_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 10px;

}

.social_post_preview_container_middle {
    flex: 1;
}

.social_post_preview_container_right {
    flex: 0.1;
}

.owner_name {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}

.num_comments {
    width: 16%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: grey;
}

.social_post_title {
    margin-bottom: 5px;
}

.social_post_preview_img {
    height: 100%;
    width: 100%;
}