.profile {
    height: 100vh;
    padding: 70px 0 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_container {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile_top {
    display: flex;
    justify-content: center;
}

.profile_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.profile_right {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.profile_bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.name_container,
.email_container {
    margin-top: 15px;
}

.username {
    font-size: 30px;
}

.name {
    font-size: 30px;
}

.email {
    font-size: 30px;
}

.profile_img {
    left: 0;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.editImg {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: underline;
}

.logout,
.remove_account {
    font-size: 18px;
    margin-top: 10px;
    text-decoration: underline;
}