.editmap {
  margin-left: 50px;
  margin-top: 20px;
}

.editmap_title {
  margin-bottom: 10px;
}

.editmap_details {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: #060606;
}

.editmap_details_container {
  width: 90%;
  margin-top: 2%;
  background-color: #0d1117;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

.editmap_name_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.editmap_name_topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editmap_details_topic {
  border-radius: 20px;
  background-color: lightyellow;
  color: black;
  padding: 5px 15px;
  margin-left: 20px;
  margin-top: 2px;
  margin-right: 20px;
}

.editmap_details_options img {
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.editmap_options_icon {
  position: relative;
}

.mappreview_options_menu {
  grid-area: options;
  position: absolute;
  top: 35px;
  right: 0px;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  width: 150px;
  background-color: rgb(191, 238, 250);
  color: black;
}

.mappreview_options_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mappreview_options_menu li {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.mappreview_options_menu li:hover {
  background-color: rgb(208, 200, 200);
  border-radius: 3px;
}

.editmap_image_comments {
  display: flex;
  justify-content: space-between;
}

.editmap_details_image {
  width: 67%;
  height: 500px;
}

.editmap_details_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tools {
  width: 70%;
  padding: 0 8% 0 3%;
}

.editmap_map {
  display: flex;
  align-items: right;
}