.comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment {
    padding-bottom: 10px;
}

#map_comment {
    width: 100%;
}

.toolbar {
    border: solid 2px white;
}