.map_comments {
  display: flex;
}

.map_comments_container {
  width: 100%;
  margin-top: 50px;
}

#mapcommentsline {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

#map_comment {
  padding: 10px;
  width: 90%;
  height: 100px;
  border-radius: 7px;
  outline: none;
}

.map_comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  border-radius: 10px;
}

.map_comment_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}



.map_comment_profile_img {
  width: 40px;
  border-radius: 100%;
  margin-right: 15px;
}

.map_comment_button {
  height: 100px;
  margin-left: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  padding: 0 20px 0 20px;
}

.map_comments_bottom_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.map_comments_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.map_comment_content {
  margin: 10px 0 10px 55px;
}

.map_comment_content_textarea {
  width: 40%;
  align-items: right;
}

.map_comment_content_textarea textarea {
  height: 80px;
}

.map_comment_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.map_comment_bottom p {
  margin-left: 5px;
}

.reply_map_comment_btn,
.delete_map_comment_btn,
.edit_map_comment_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit_map_comment_input {
  width: 70%;
  height: 100%;
}

.comment_reply {
  margin: 5px 0 5px 0;
  padding: 5px;
}

.map_comment_replies {
  /* padding: 10px 10px 10px 10px; */
  margin: 15px 15px 10px 35px;
  width: 100%;
}

.map_comment_replies textarea {
  width: 100%;
}

.map_comment_replies_wrapper {
  width: 100%;
}

.map_comment_replies_container {
  width: 100%;
}

.post_reply_btn,
.mapreplies_save_reply_changes {
  /*  */
  padding: 5px 8px 5px 8px;
  width: 50px;
  align-self: flex-end;
}

.reply_text_field,
.map_comment_content_textarea {
  /*  */
  width: 40%;
  display: flex;
  flex-direction: column;
}

.map_comment_reply {
  margin-bottom: 10px;
}

.map_comment_reply_input {
  outline: none;
  border: none;
  margin: 5px 0 5px 0;
  height: 80px;
  padding: 5px;
}

.mapcomment_reply_top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.show_map_comments_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_map_comments {
  border: none;
  background: none;
  color: rgb(174, 174, 174);
  width: 150px;
}

.show_map_comments_hr {
  width: 100px;
  color: grey;
}

.user {
  font-weight: 900;
}

.map_reply_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 60px;
  height: 50px;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment_tools {
  display: flex;
}

.reply_comment_btn {
  /* margin-left: 50px; */
}

.reply_comment_btn p {
  margin-left: 3px;
}

.map_reply_dotted_menu {
  cursor: pointer;
  width: 20px;
}

.edit_reply_btn,
.delete_reply_btn {
  cursor: pointer;
}

.mapcomments_delete_confirmation_modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  color: black;
  height: 150px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 0 30px 0;
  font-weight: 500;
  border-radius: 7px;
}

.mapcomments_delete_confirmation_modal_bottom {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.mapcomments_delete_comment_confirm,
.mapcomments_cancel_delete_comment {
  color: black;
  border: white;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
}

.mapcomments_edit_container {
  display: flex;
  flex-direction: column;
}

.save_map_comment_changes {
  width: 80px;
  margin-top: 1rem;
  float: right;
}

.map_comment_profile_img {
  width: 40px;
  border-radius: 100%;
  margin-right: 15px;
}

/* .map_details {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: #060606;
  }
  
  .map_details_container {
    width: 90%;
    margin-top: 2%;
    background-color: #0d1117;
    border-radius: 10px;
    padding: 20px;
  }
  
  .name_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .name_topic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map_details_topic {
    border-radius: 20px;
    background-color: lightyellow;
    color: black;
    padding: 5px 15px;
    margin-left: 20px;
    margin-top: 2px;
    margin-right: 20px;
  }
  
  .map_details_options img {
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }
  .map_details_options_container {
    display: flex;
    gap: 2;
  }
  .options_icon {
    position: relative;
  }
  
  .mappreview_options_menu {
    grid-area: options;
    position: absolute;
    top: 35px;
    right: 0px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    width: 150px;
    background-color: rgb(191, 238, 250);
    color: black;
  }
  
  .mappreview_options_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mappreview_options_menu li {
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .mappreview_options_menu li:hover {
    background-color: rgb(208, 200, 200);
    border-radius: 3px;
  }
  
  .map_details_comments {
    background-color: #2a282e;
    display: flex;
    flex-direction: column;
  }
  
  .comment_title {
    height: 10%;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }
  
  .comment_content {
    height: 77%;
    padding: 20px;
    overflow-y: scroll;
  }
  
  .comment_box {
    height: 13%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid gray;
  }
  
  .comment_box_profile {
    width: 13%;
    display: flex;
    justify-content: center;
  }
  
  .comment_box_profile .profile_img {
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .comment_box_input {
    border: 1px solid #4f8fba;
    border-radius: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment_box_input .input_comment {
    border: none;
    margin: 4px 0 4px 10px;
    outline: 0;
    box-shadow: none;
    padding: 10px;
    width: 80%;
    background-color: #2a282e;
    color: #b8c5c9;
  }
  
  .wrapper {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .btnimg {
    pointer-events: none;
    width: 27px;
    height: 30px;
    opacity: 1;
    cursor: pointer;
  }
  
  input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  
  .tools {
    width: 70%;
    padding: 0 8% 0 3%;
  }

  .map_reply_dotted_menu {
    cursor: pointer;
    width: 20px;
}
  .map_reply_dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 60px;
    height: 50px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
   */