.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.comments_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.map_comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgb(37, 37, 37);
    padding: 8px;
    border-radius: 10px;
}

#map_comment {
    width: 100%;
}

.toolbar {
    border: solid 2px white;
}

.map_comment_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.map_comment_profile_img {
    width: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

.map_comment_button {
    margin-left: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    padding: 0 20px 0 20px;
    height: 90%;
}

.map_comments_bottom {
    display: flex;
    align-items: flex-start;
    margin: 0;
    top: 0;
}