.map_comments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.map_comments_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


.map_comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

#map_comment {
    width: 100%;
    height: 40px;
    padding: 5px;
}

.toolbar {
    border: solid 2px white;
}

.map_comment_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.map_comment_profile_img {
    width: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

.map_comment_button {
    margin-left: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    padding: 0 20px 0 20px;
    height: 90%;
}

.map_comments_bottom {
    display: flex;
    align-items: flex-start;
    margin: 0;
    top: 0;
}

.map_comment_replies {
    width: 90%;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px 15px 15px 25px;
}

.map_comment_reply {
    margin: 5px 0 5px 0;
    padding: 5px;
}

.map_comment_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.map_comment_reply_top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}