.social_comments {
    display: flex;
}

.social_comments_container {
    width: 100%;
    margin-top: 50px;
}

#socialcommentsline {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

#social_comment {
    padding: 10px;
    width: 90%;
    height: 100px;
    border-radius: 7px;
    outline: none;
}

.social_comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border-radius: 10px;
}

.social_comment_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.social_comment_profile_img {
    width: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

.social_comment_button {
    height: 100px;
    margin-left: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    padding: 0 20px 0 20px;
}

.social_comments_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.social_comment_content {
    margin: 10px 0 10px 55px;
}

.social_comment_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.social_comment_bottom p {
    margin-left: 5px;
}

.reply_comment_btn,
.delete_comment_btn,
.edit_comment_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.edit_comment_input {
    width: 100%;
    height: 100%;
}

.comment_reply {
    margin: 5px 0 5px 0;
    padding: 5px;
}

.social_comment_replies {
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 15px 25px;
}

.social_comment_reply {
    margin-bottom: 10px;
}

.comment_reply_top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.show_post_comments_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_post_comments {
    border: none;
    background: none;
    color: rgb(174, 174, 174);
    width: 150px;
}

.show_post_comments_hr {
    width: 100px;
    color: grey;
}

.user {
    font-weight: bold;
}

.social_reply_dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 60px;
    height: 50px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment_tools {
    display: flex;
}

.reply_comment_btn {
    margin-left: 50px;
}

.social_reply_dotted_menu {
    cursor: pointer;
}

.edit_reply_btn,
.delete_reply_btn {
    cursor: pointer;
}

.delete_confirmation_modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    color: black;
    height: 150px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 0 30px 0;
    font-weight: 500;
    border-radius: 7px;
}

.delete_confirmation_modal_bottom {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.delete_comment_confirm,
.cancel_delete_comment {
    color: black;
    border: white;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
}