.social_comments {
    display: flex;
}

.social_comments_container {
    width: 100%;
}

#socialcommentsline {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

#social_comment {
    margin-top: 20px;
}

.social_comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgb(37, 37, 37);
    padding: 8px;
    border-radius: 10px;
}

.social_comment_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social_comment_profile_img {
    width: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

.social_comment_button {
    margin-left: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    padding: 0 20px 0 20px;
    height: 40px;
}

.social_comment_bottom {
    display: flex;
    justify-content: center;
    align-items: baseline;
}