.like-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.like-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
}
.like-button:hover {
  color: #fff;
  background-color: #333;
}
.like-button.liked {
  color: var(--main-color);
  border-color: var(--main-color);
}

.social_delete_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
}

.social_delete_btn:hover {
  color: #fff;
  background-color: #333;
}

.social_edit_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
}

.social_edit_btn:hover {
  color: #fff;
  background-color: #333;
}
.edit_profile_btn {
  cursor: pointer;
}
.edit_profile_btn:hover {
  color: rgba(105, 163, 255, 0.901);
  border-color: rgba(105, 163, 255, 0.901);
}
.change_profileImg_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
}
.profile_update_canel_btn:hover,
.profile_update_btn:hover,
.change_profileImg_btn:hover {
  color: rgba(105, 163, 255, 0.901);
  border-color: rgba(105, 163, 255, 0.901);
}
.profile_update_canel_btn:hover {
  color: rgba(213, 85, 71, 0.901);
  border-color: rgba(255, 105, 105, 0.901);
}

.profile_update_canel_btn,
.profile_update_btn {
  margin-top: 20px;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
  align-self: center;
  margin-top: 1rem;
}

.update_user_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
}
.update_user_btn:hover {
  color: rgba(105, 163, 255, 0.901);
  border-color: rgba(105, 163, 255, 0.901);
}

@media (max-width: 768px) {
  .like-button-container {
    flex-direction: column;
  }
  .like-button {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 16px;
    border-width: 1px;
  }
}
