.mainpage_container {
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.mainpage_trending_header {
  display: flex;
  align-self: baseline;
  align-items: baseline;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.mainpage_trending_subheader {
  align-self: baseline;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 1rem;
}

.search_wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.mainpage_search_filter_dropdown {
  width: 130px;
  font-size: small;
}

.mainpage_maps {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding-top: 1rem;
}

.mainpage_maps_no_search_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainpage_maps_container {
  width: 100%;
}

.maps_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: black;
  z-index: 100;
}

@media all and (max-width: 1100px) {
  .mainpage_maps {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (max-width: 1000px) {
  .mainpage_maps {
    grid-template-columns: repeat(3, 1fr);
  }

  .search_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mainpage_search_filter_dropdown {
    width: 250px;
  }

  .search_bar_wrapper {
    width: 300px;
  }
}

@media all and (max-width: 600px) {
  .mainpage_maps {
    grid-template-columns: repeat(2, 1fr);
  }
}