.main_container {
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_maps_container {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(4, 2fr); */
  grid-template-columns: repeat(4, 1fr);
  /* Default: 4 columns */

  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding-top: 1rem;
}

@media all and (max-width: 1000px) {
  .main_maps_container {
    grid-template-columns: repeat(2, 1fr);
    /* Single column layout on smaller screens */
  }
}

@media all and (max-width: 600px) {
  .main_maps_container {
    grid-template-columns: repeat(1, 1fr);
    /* Single column layout on smaller screens */
  }
}
