.slider {
  height: 100%;
  margin: 0 10rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.slide_track {
  display: flex;
  gap: 6rem;
  width: calc(15rem * 7);
  animation: scroll 60s linear infinite;
}

.slide_track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-15rem * 9));
  }
}

.slide {
  width: 24rem;
  height: 18rem;
  display: flex;
  align-items: center;
  perspective: 100px;
}

.slide img {
  width: 25rem;
  height: 18rem;
  transition: 0.8s;
  border-radius: 5px;
}

.hoveredImage:hover {
  transform: translateZ(0.5rem);
  border-radius: 5px;
  border: 2px solid var(--main-color);
}

.trendingmap_preview {
  width: 25rem;
  height: 18rem;
  padding: 0rem 1rem 1.5rem 1rem;
  background-color: rgba(28, 28, 28, 0.497);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  transition: 0.8s;
  cursor: pointer;
}

.trendingmap_preview:hover {
  transform: translateZ(0.5rem);
}

.trending_mapname {
  font-size: 2rem;
  font-weight: 600;
}

.trending_maptopic {
  font-size: medium;
  font-weight: 400;
}

.trending_mapdescription {
  font-size: small;
  font-weight: 300;
}

i .bi {
  font-weight: 100;
}