.socialpage {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.socialpage_container {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialpage_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialpostdetails_top_left h1 {
  width: 100%;
}

.socialpage_top_right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.socialpage_middle {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.create_post_btn:hover {
  transform: scale(1.05);
  background-color: rgba(119, 119, 119, 0.284) important !;
}

.socialpage_top_left {
  display: flex;
}

.create_new_post {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social_post {
  margin-bottom: 20px;
}

.searchbar {
  width: 50%;
}

.social_page_dropdown {
  width: 120px;
}

.sort_by {
  font-size: 10px;
}