.search_container {
  display: flex;
  justify-content: space-between;
}

.search_bar_wrapper i {
  position: absolute;
}

.search_bar_wrapper {
  margin: 0 10px 10px 0;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100pxs;
}

.search_icon {
  padding: 10px;
  min-width: 40px;
  color: gray;
}

.search_bar {
  width: 100%;
  text-align: left;
  padding-left: 40px;
  height: 80%;
}
