.socialpostdetails {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialpostdetails_top_left_container h1 {
  margin: 0;
}
.socialpostdetails_top_left_title_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.socialpostdetails_topic {
  padding: 1px 2px;
  background-color: rgba(105, 163, 255, 0.901);
  color: white;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
  width: 10rem;
  text-align: center;
}

.socialpostdetails_container {
  height: 80%;
  width: 90%;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.back_btn_socialdetail {
  align-items: center;
  cursor: pointer;
  font-size: medium;
}
.back_btn_socialdetail:hover {
  cursor: pointer;
  color: rgb(47, 47, 47);
}

.socialpostdetails_profile_img {
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.socialpostdetails_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px white;
}
.socialpostdetails_top_right_container {
  display: flex;
  gap: 1rem;
}

.social_edit_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
}
.social_edit_btn:hover {
  color: #fff;
  background-color: #333;
}

.socialpostdetails_middle {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.socialpostdetails_top_left {
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 0.5;
}

.socialpostdetails_middle_left {
  flex: 0.6;
  border-right: 0.1px solid #fff;
}

.socialpostdetails_middle_right {
  flex: 1;
  padding: 10px;
}

#post_details_img {
  height: 90%;
  width: 70%;
  padding: 10px 0 0 10px;
}

.socialpostdetails_user {
  font-size: 14px;
  color: rgb(169, 169, 169);
}
