.map_preview_container {
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(80, 80, 80);
  transition: transform 0.3s ease;
  position: relative;
  background-color: rgb(233, 233, 233);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "options"
    "map_preview_content"
    "footer";
  transition: transform 0.3s ease-in-out;
  border: 2px solid gray;
}

.map_name_container {
  display: flex;
}

.map_preview_container:hover {
  /* transform: scale(1.05); */
}

.map_preview_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map_preview_content {
  border-top: 2px dotted black;
  background-color: #ffffff;
  padding: 15px;
}

.map_name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000000;
}

.map_topic {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 8px;
  color: #000000;
}

.map_count_container {
  display: flex;
  justify-content: space-between;
}

.map_like {
  font-size: 0.8rem;
  color: #000000;
  margin-bottom: 8px;
}

.map_no_comment {
  font-weight: 300;
  font-size: 0.8rem;
  color: #000000;
}

.options_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options_menu {
  grid-area: options;
  background-color: rgb(57, 57, 57);
  position: absolute;
  top: 35px;
  right: 0px;
  display: inline-block;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
}

.options_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options_menu li {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.options_menu li:hover {
  background-color: rgb(109, 109, 109);
  border-radius: 3px;
}

.map_options {
  background-color: white;
}

.bi-three-dots-vertical {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 25px;
}