.createmap_container {
  height: 100vh;
  overflow: hidden;
}
.createmap_add_data_container {
  margin-top: 6rem;
  padding-bottom: 5rem;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}
.addmapdata_left_sidebar {
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(44, 44, 44, 0.46);
  border-radius: 5px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addmapdata_center {
  /* width: fit-content; */
  height: fit-content;
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mapdatainput_right_sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 1rem 1rem 2rem;
  background-color: rgba(44, 44, 44, 0.46);
  border-radius: 5px;
  height: -webkit-fill-available;
  width: fit-content;
  gap: 1rem;
}
.mapdatainput_templates {
  flex: 4;
}
.mapdatainput_hovered_data_container {
  flex: 2;
}
.mapdatainput_hovered_data_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.mapdatainput_hovered_data {
  height: 8rem;
  border: 1px gray dashed;
  padding: 0.5rem;
  background-color: rgba(44, 44, 44, 0.46);
  transition: 0.2s ease;
  display: flex;
  align-items: center;
}
.mapdatainput_image_drop {
  flex: 1;
}

.mapboxgl-canvas-container {
  height: 80vh;
  width: 100vh;
}
/* MAP TOOL BAR */
.map_toolbar_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.map_undo_redo_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: 1px solid #333;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.vertical_line_container {
  color: #333;
  font-weight: 200;
}

.map_undo_redo_container i:hover {
  cursor: pointer;
  color: #1f6baf;
  transition: all 0.2s ease-in-out;
}
.map_toolbar_container button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border: 2px solid #333;
  border-radius: 5px;
}
.map_toolbar_container button:hover {
  color: #1f6baf;
  background-color: #33333350;
  border: 2px solid #1f6baf;
}
/* END*/

/* RIGHT SIDEBAR DATA IMPUT */
.data_input_container {
  display: flex;
}
.data_input_value {
  flex: 2;
}
.data_input_delete {
}

.data_input_container_thematic {
  max-height: 27rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.add_data_btn {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.heat_data_container {
  display: flex;
  flex-direction: column;
}
.heat_data_tooltip {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.createMap_color_picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* border: 1px whitesmoke solid; */
}
.createMap_color_picker::-webkit-color-swatch {
  border-radius: 15px;
  border: 1px rgba(245, 245, 245, 0.333) solid;
}
.createMap_color_picker::-moz-color-swatch {
  border-radius: 15px;
  border: 1px rgba(245, 245, 245, 0.333) solid;
}

/* data input modal */
.add_map_data_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
}
.map_datainput_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.map_datainput_element .inputdata_warning_txt {
  margin-bottom: 1rem;
  color: rgb(203, 54, 54);
  font-weight: 300;
  font-size: small;
}
.heatdatainput_label {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

/* RENDER DATA:HOVER */

.map_region_info {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  width: 200px;
  height: 200px;
  background-color: white;
  color: rgba(0, 0, 0, 0.827);
  overflow-wrap: break-word;
}
/* .popup {
  color: black;
  position: fixed;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  pointer-events: none;
} */
