.create_map_container {
  background-color: rgb(47, 47, 47);
  margin: 0 5rem 0 5rem;
  height: 100vh;
}
.create_map_container i {
  cursor: pointer;
}
.create_map_container h2 {
  position: relative;
  padding: 2rem;
}
.create_map_steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .create_steps_container .create_map_steps {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.before_btn {
  position: absolute;
  left: 10rem;
  margin-top: 1rem;
  bottom: 1rem;
}
.next_btn {
  position: absolute;
  right: 10rem;
  margin-top: 1rem;
  bottom: 1rem;
}

.step1_container input {
  width: 300px;
  height: 30px;
  margin: 0;
}
.step2_container input {
  width: 200px;
  height: 30px;
  margin: 0;
}
.data_input_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.heat_container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.heat_color_selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heat_container td {
  width: 25px;
  height: 25px;
}
.heat_range_selector {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* MAPBOX */
.mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}
.mapboxgl-canvas {
  width: 50vw;
  height: 50vh;
}
/* DROPDOWN CSS */
.dropdown {
  user-select: none;
  position: relative;
}
.dropdown .dropdown_btn {
  width: 300px;
  height: 20px;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 5px;
}
.dropdown .dropdown_content {
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: black;
}

.dropdown .dropdown_content .dropdown_item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown_content .dropdown_item:hover {
  background: #f4f4f4;
}
