.createmap_container {
  height: 100vh;
  overflow: hidden;
}
.createmap_add_data_container {
  margin-top: 6rem;
  padding-bottom: 5rem;
  display: flex;
  height: 100%;
  width: 100%;
}
.addmapdata_left_sidebar {
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(44, 44, 44, 0.66);
}

.addmapdata_center {
  width: fit-content;
  height: fit-content;
  flex: 5;
}
.addmapdata_right_sidebar {
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(44, 44, 44, 0.66);
}
.mapboxgl-canvas-container {
  height: 100vh;
  width: 100vh;
}
