.header {
  width: 100%;
  /* position: absolute; */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  height: 70px;
}

.header_container,
.header_begin {
  height: 100%;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_begin {
  column-gap: 5rem;
}

/* header shadow */
.scroll_header {
  background-color: #000000;
  box-shadow: 0 -1px 15px rgb(198, 184, 184);
}

.modal_content {
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 65px 0 65px 0;
}

.header_profile {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}