.map_details {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: #060606;
}

.map_details_container {
  width: 90%;
  margin-top: 2%;
  background-color: #1D1D1D;
  border-radius: 10px;
  padding: 20px;
}

.name_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.name_topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_details_topic {
  border-radius: 20px;
  background-color: lightyellow;
  color: black;
  padding: 5px 15px;
  margin-left: 20px;
  margin-top: 2px;
}

.map_details_options img {
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.map_image_comments {
  display: flex;
  justify-content: space-between;
}

.map_details_image {
  width: 67%;
  height: 500px;
  background-color: aquamarine;
}

.map_details_comments {
  width: 31%;
  height: 500px;
  background-color: bisque;
}

.tools {
  width: 70%;
  padding: 0 8% 0 3%;
}