.mapdetails_loadmap_container {
  text-align: -webkit-center;
  position: relative;
}

.mapdetails_loadmap_container .Typewriter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
  background-color: #2a282e13;
  padding: 2rem 8rem;
  border-radius: 5px;
}

.map_details {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: #060606;
}

.map_details_container {
  width: 90%;
  margin-top: 2%;
  background-color: #0d1117;
  border-radius: 10px;
  padding: 20px;
}

.name_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_topic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.name_topic_details_container {
  margin-bottom: 1rem;
  width: 30%;
}

.map_details_topic {
  border-radius: 20px;
  background-color: lightyellow;
  color: black;
  padding: 5px 15px;
  margin-left: 20px;
  margin-top: 2px;
  margin-right: 20px;
}

.map_details_options img {
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.map_details_options_container {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.map_details_options_outer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options_icon {
  position: relative;
}

.mapdetails_mappreview_options_menu {
  grid-area: options;
  position: absolute;
  top: 35px;
  right: 0px;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  width: 150px;
  background-color: rgb(191, 238, 250);
  color: black;
}

.mapdetails_mappreview_options_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mapdetails_mappreview_options_menu li {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.mapdetails_mappreview_options_menu li:hover {
  background-color: rgb(208, 200, 200);
  border-radius: 3px;
}

.map_image_comments {
  /* display: flex; */
  /* justify-content: space-between; */
}

/* .map_details_image {
  width: 67%;
  height: 500px;
}

.map_details_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
} */

.map_details_comments {
  /* width: 31%; */
  /* max-height: 500px; */
  /* overflow-y: scroll; */
  background-color: #2a282e;
  display: flex;
  flex-direction: column;
}

.comment_title {
  height: 10%;
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.comment_content {
  height: 77%;
  padding: 20px;
  overflow-y: scroll;
}

.comment_box {
  height: 13%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid gray;
}

.comment_box_profile {
  width: 13%;
  display: flex;
  justify-content: center;
}

.comment_box_profile .profile_img {
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment_box_input {
  border: 1px solid #4f8fba;
  border-radius: 20px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment_box_input .input_comment {
  border: none;
  margin: 4px 0 4px 10px;
  outline: 0;
  box-shadow: none;
  padding: 10px;
  width: 80%;
  background-color: #2a282e;
  color: #b8c5c9;
}

.wrapper {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.btnimg {
  pointer-events: none;
  width: 27px;
  height: 30px;
  opacity: 1;
  cursor: pointer;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.tools {
  width: 70%;
  padding: 0 8% 0 3%;
}

.mapdetails_hovered_data_container {
  position: absolute;
  top: 26%;
  left: 7%;
  width: 20rem;
  height: 15rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1rem;
}

.mapdetails_hoverdata_switch_showing {
  position: absolute;
  top: 45%;
  left: 17%;
  z-index: 100;
  color: black;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px;
  border-radius: 2rem;
  width: 120px;
}

.mapdetails_hoverdata_switch {
  position: absolute;
  top: 26%;
  left: 7%;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px;
  border-radius: 2rem;
  width: 120px;
}

.map_details_name {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.map_details_name h5 {
  margin: 5px 0 5px 0;
}

.mappdetails_delete_confirmation_modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  color: black;
  height: 150px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 0 30px 0;
  font-weight: 500;
  border-radius: 7px;
  z-index: 100;
}

.mapdetails_delete_confirmation_modal_bottom {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.mapdetails_delete_confirm,
.mapdetails_cancel_delete {
  color: black;
  border: white;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
}

.mapdetails_delete {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.mapdetails_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-color: black;
  z-index: 99;
}

@media all and (max-width: 1200px) {
  .mapdetails_hovered_data_container {
    left: 9%;
    top: 25%;
  }

  .mapdetails_hoverdata_switch_showing {
    top: 44%;
  }

}