.resetPassword {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetPassword_form_top {
  margin-bottom: 20px;
}

.resetPassword_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.resetPassword_form_top input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

Button {
  width: auto;
}

.failed_token, .success {
  margin: 10% 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc {
  margin: auto;
}

.failed_token .desc .desc_title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
}

.success .desc .desc_title {
  font-size: 48px;
  line-height: 55px;
  font-weight: bold;
  margin-bottom: 50px;
}

.desc_detail {
  font-size: 16px;
  margin-right: 30px;
}

@media all and (max-width: 700px) {
  .resetPassword_form {
    width: 70%;
  }
}